{% extends 'base.html' %}

{% block title %} 
    Lista de Funcionários
{% endblock %} 

{% block conteudo %}

    <h1>Pagina de lista de funcionários...</h1>
    <table>
        <tbody>
            {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.sobrenome }}</td>
                    <td>{{ funcionario.remuneracao }}</td>
                    <td>{{ funcionario.tempo_de_servico }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}